<div class="image-header">
    <h1>
        Comment saisir la justice ?
    </h1>
    <h4>
        Faire valoir vos droits devant la Justice
    </h4>
</div>

<div class="container" style="padding-left: 150px;padding-right: 150px">
    <br/><br/><br/>
    <p>Si vous êtes victime d’une infraction ou rencontrez un différend avec une ou plusieurs personnes, entreprises, particuliers, collectivités ou l’administration, vous pouvez faire valoir vos droits en saisissant la justice. En fonction de votre cas, vous pouvez saisir les juridictions pénales, civiles ou administratives.</p>
    <br/>

    <h2 style="color: green;font-weight: bold;">Juridictions pénales</h2>
    <b>Les juridictions pénales sont compétentes pour juger les infractions (contraventions, délits et crimes) qui sont sanctionnées par des peines.</b>
    <p>Pour saisir la juridiction pénale compétente, vous devez porter plainte :</p>
    <ul>
        <li>
            <b>Auprès d'un service de police ou de gendarmerie,</b>
            <p>qui transmettra votre plainte au procureur de la République ;</p>
        </li>
        <li>
            <b>Auprès du procureur de la République </b>
            <p>en lui adressant un courrier au tribunal judiciaire du lieu de l’infraction ou du domicile de l’auteur de l’infraction ;</p>
        </li>
        <li>
            <b>Pour les crimes et les délits seulement, auprès du juge d’instruction</b>
            <p>en lui écrivant un courrier lorsque le procureur de la République vous a fait connaître qu’il n’engagera pas de poursuites ou qu’un délai de trois mois s'est écoulé depuis vous avez déposé plainte auprès du procureur de la République.</p>
        </li>
    </ul>
    <br/>
    <p>Si vous souhaitez également obtenir réparation du préjudice subi (indemnisation), en plus de la condamnation de l’auteur, le dépôt de plainte ne suffit pas. Il faut également se constituer partie civile auprès du juge d’instruction.</p>
    <br/>
    <p>Lorsque vous connaissez l’identité de l’auteur de la contravention ou du délit dont vous êtes victimes, vous pouvez saisir la juridiction compétente par citation directe.</p>
    <br/>
    <p>La représentation par avocat (pour la personne mise en cause) :</p>
    <ol>
        <li>
            <b>Est obligatoire devant:</b>
            <ul>
                <li>la cour d’assises</li>
                <li>le juge des enfants et le tribunal pour enfants.</li>
            </ul>
        </li>
        <li>
            <b>Est facultative (sauf exception) devant :</b>
            <ul>
                <li>le tribunal correctionnel ;</li>
                <li>le tribunal de police.</li>
            </ul>
        </li>
    </ol>
    <br/>
    <p>Représentation par avocat (pour la partie civile) : facultative.</p>
    <br/>
    <h2 style="color: green;font-weight: bold;">Juridiction civile</h2>
    <b>En cas de différend avec un particulier ou une entreprise, vous pouvez tenter de trouver une issue au litige à l’amiable ou saisir la justice civile.</b>
    <br/><br/>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL JUDICIAIRE ET DE PROXIMITÉ</h4>
    <p>Le tribunal judiciaire est en principe compétent pour tous les litiges tels que le droit des personnes (filiation, adoption, état civil,…), les successions ou encore la propriété immobilière. Le tribunal judiciaire peut être saisi :</p>
    <ul>
        <li>
            <b>Par assignation </b>
            <p>en ayant recours à un avocat et un huissier. Une assignation est un acte d’huissier de justice par lequel le demandeur cite son adversaire à comparaître devant le juge ;</p>
        </li>
        <li>
            <b>Par requête </b>
            <p>en la remettant au greffe de la juridiction lorsque la demande n’excède pas 15 000DT et dans certaines matières déterminées par la loi ou le règlement. La principale différence de la requête par rapport à l’assignation est le fait que la requête saisit la juridiction sans que la partie adverse en soit préalablement informée ;</p>
        </li>
        <li>
            <b>Par requête conjointe </b>
            <p>lorsque les parties s’entendent pour soumettre leur différend à la justice.</p>
        </li>
    </ul>
    <br/>
    <p>Ces différentes demandes doivent indiquer diverses mentions obligatoires pour être recevables.</p>
    <br/>
    <b>La représentation par avocat: </b>
    <p>En principe, les justiciables doivent se faire représenter par un avocat devant le tribunal judiciaire. Afin d’éviter toute erreur qui conduirait à une irrecevabilité de la demande, à une perte de temps et à des dépenses supplémentaires, il est conseillé aux justiciables de prendre conseil auprès d’un avocat.</p>
    <h2 style="color: green;font-weight: bold;">Juridiction administrative</h2>
    <br/>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL ADMINISTRATIF</h4>
    <p>En cas de différend avec l’administration (collectivité territoriale, service public,…), vous pouvez saisir la juridiction administrative. 
        <b>Vous pouvez contester un acte administratif ou demander réparation d’un préjudice.</b>

        Le tribunal administratif est saisi par requête envoyée ou déposée au greffe ou via le service du télérecours.
        
        Dans certaines matières, vous devez exercer un recours administratif préalablement à la saisine du juge administratif (contentieux fiscal, accès aux documents administratifs, accès aux professions réglementées, contentieux des étrangers…).
        
        Afin d’éviter toute erreur qui conduirait à une irrecevabilité de la demande, à une perte de temps et à des dépenses supplémentaires, il est conseillé aux justiciables de prendre conseil auprès d’un avocat.</p>
    <br/><br/>
    
</div>

