<!-- Footer -->
<footer
  class="text-lg-start text-muted"
  style="background-color: rgb(255, 255, 255)"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>e-firm.tn
          </h6>
          <p>
            site web qui met a la disposition du citoyen un espace qui
            l'accompagnera juridiquement jusqu'à la résolution de ses problèmes.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Citoyen</h6>
          <p>
            <a [routerLink]="[routes.login]" class="text-reset">Se connecter</a>
          </p>
          <p>
            <a [routerLink]="[routes.signupClient]" class="text-reset"
              >S'inscrire</a
            >
          </p>
          <p>
            <a [routerLink]="[routes.problem]" class="text-reset">Demander</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Avocat</h6>
          <p>
            <a [routerLink]="[routes.lawyerCases]" class="text-reset"
              >Espace Personnel</a
            >
          </p>
          <p>
            <a [routerLink]="[routes.signupLawyer]" class="text-reset"
              >Nous rejoindre</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Centre Urbain Nord, tunis</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@e-firm.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 216 99 999 999</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-4"
    style="background-color: rgba(245, 244, 244, 0.05)"
  >
    © 2024 Copyright:
    <a class="text-reset fw-bold">e-firm.tn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
