<div class="card">
  <div class="card-header">
    <b>{{ case.clientName }}</b>
  </div>
  <div class="card-body">
    <b class="card-title">{{ case.type }}</b>
    <p class="card-text">
      {{ case.description }}
    </p>
    <br />
    <div>
      <button
        [ngStyle]="{ 'border-radius': '15px' }"
        type="button"
        class="btn btn-outline-success"
        (click)="caseAccepted()"
      >
        Accepter
      </button>
      <button
        [ngStyle]="{ 'border-radius': '15px' }"
        type="button"
        class="btn btn-outline-danger"
        (click)="caseDeleted()"
      >
        Refuser
      </button>
    </div>
  </div>
</div>
