<div >
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img
          src="assets/img/image1.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>e-firm.tn</h5>
          <p style="font-weight: 500; font-size: large;">La Passion de vous Conseiller,
            l’Honneur de vous Défendre</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/image2.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>e-firm.tn</h5>
          <p style="font-weight: 500; font-size: large;">Le site qui garantit vos droits</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/image3.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>e-firm.tn</h5>
          <p style="font-weight: 500; font-size: large;">Toujours pret pour vous défendre</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>

<div class="spacer"></div>

<div style="text-align: center; margin-top: 40px;">
    <h1> Qui sommes-nous ?</h1> 
</div>
<div style="margin: auto; text-align: center; width: 80%;">
    <h5> e-firm.tn est un site web qui met a la disposition du citoyen
        un espace qui l'accompagnera juridiquement jusqu'à la résolution de ses problèmes.   
        <div class="spacer"></div>
        Le demandeur, selon son problème, sera soit, dirigé vers un
        spécialiste de droit en cas de besoin, soit informé par les
        procédures à suivre. 
        <div class="spacer"></div>
        Le défendeur, quant à lui, aura l'opportunité de présenter ses services.
    </h5> 
    <div class="spacer"></div>
    <img src="assets/img/logo.png" height="200"/>
</div>

<div class="spacer"></div>
<hr>
<div class="spacer"></div>
<app-law style="margin:10px"></app-law>
<div class="spacer"></div>
<hr>
<div class="spacer"></div>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-5" style="text-align: center;">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="assets/img/man.png"
            height="100"
            width="100"
            class="img-fluid"
            style="margin-top: 20px;"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vous avez un problème</h5>
          <p class="card-text" style="font-size: large; font-weight: 400;">
            vous avez fait un conflit avec ton patron, 
            tes voisins ou bien vous voulez divorcer, distribuer une hérité etc .
            e-firm.tn est la solution la plus facile et efficace pour vous.
          </p>
         
          <a mdbBtn href="#!" class="btn" color="deep-orange" mdbWavesEffect routerLink="/problem">Faire une demande</a>
        </div>
      </div>
    </div>
    <div class="col-md-2" style="text-align: center;"></div>
    <div class="col-md-5" style="text-align: center;">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="assets/img/law.png"
            height="100"
            width="100"
            class="img-fluid"
            style="margin-top: 20px;"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vous êtes un avocat </h5>
          <p class="card-text" style="font-size: large; font-weight: 400;">
            vous cherchez à avoir plus de clients ? <br>
            e-firm.tn est le meilleur espace pour offrir vos services et augmenter votre reconnaissance.
            C'est simple et fiable.
          </p>
          <a mdbBtn href="#!" class="btn" color="deep-orange" mdbWavesEffect routerLink="/lawyerCases">Accedez espace avocat</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
  <hr>
<div class="spacer"></div>
<div class="container">
  <div style="margin: auto; text-align: center; width: 80%;">
    <h1> e-firm.tn c'est :</h1>
    <div class="spacer"></div>
  </div>
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <img src="/assets/img/confidentiel.jpg" height="80" width="80"> <br> <h4>confidentiel</h4>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="/assets/img/efficace.jpg" height="80" width="80"> <br> <h4>efficace</h4>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="/assets/img/fiable.jpg" height="80" width="80"> <br> <h4>fiable</h4>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="/assets/img/pratique.jpg" height="80" width="80"> <br> <h4>pratique</h4>
    </div>
  </div>
  <div class="spacer"></div>
</div>
</div>

