<div class="image-header">
    <h1>
        Les alternatives au procès
    </h1>
    <h4>
        Faites le choix de solutions adaptées à votre situation    
    </h4>
</div>

<div class="container" style="padding-left: 150px;padding-right: 150px">
    <br/><br/>
    <p>Votre avocat peut vous accompagner dans la résolution d’un différend en faisant appel aux modes amiables et alternatifs qui ne cessent de se développer. En effet, ces outils offrent des solutions sur mesure, plus sereines et plus durables.</p>
    <br/>
    <p>Faire appel à un avocat, c’est s’assurer de choisir le mode amiable le plus approprié à votre situation et d'aborder sereinement un litige avec les conseils indispensables pour trouver une solution viable et pérenne qui protégera vos intérêts.</p>
    <br/>
    <h2 style="color: green;font-weight: bold;">La procédure participative</h2>
    <b>La procédure participative assistée par avocat est une convention par laquelle les parties qui s’opposent, s’engagent, avant de saisir la justice, à œuvrer conjointement et de bonne foi à la résolution amiable de leur différend. Si la procédure amiable n’aboutit pas à un accord, les parties sont libres de porter leur différend devant la justice.</b>
    <br/><br/>
    <p>Chaque partie est accompagnée tout au long de la procédure par son avocat. Il est le seul professionnel à conjuguer confidentialité, secret professionnel et connaissance juridique et à apporter toutes les garanties liées à sa déontologie. Il est aussi le seul professionnel habilité à assister les parties dans le cadre de cette procédure.

        Si un accord est trouvé, une convention précisant les modalités de cet accord est signée par les parties mettant fin au différend. Cet accord peut faire l’objet d’une homologation par un juge. En cas d’échec des négociations, le jugement de l’affaire sera accéléré grâce à la prise en compte des échanges déjà intervenus.</p>
    <h2 style="color: green;font-weight: bold;">Quels sont les avantages de la procédure participative ?</h2>
    <ul>
        <li>
            <b>Prévisibilité: </b>
            <p> la procédure participative supprime l’aléa d’un procès, les parties conservent la maîtrise des décisions à prendre ;</p>
        </li>
        <li>
            <b>Sécurité juridique: </b>
            <p>la procédure est sécurisée par la présence obligatoire d’un avocat auprès de chaque partie tout au long du processus, dans le strict respect de la législation ;</p>
        </li>
        <li>
            <b>Économie de temps et de moyens: </b>
            <p>le calendrier de la négociation est convenu à l’avance et les frais sont partagés entre les parties </p>
        </li>
        <li>
            <b>Confidentialité: </b>
            <p>cette procédure est soumise à une confidentialité absolue sur les échanges et les pièces communiquées. </p>
        </li>
    </ul> 
    <h2 style="color: green;font-weight: bold;">Quels sont les différends concernés ?</h2>
    <p>La procédure participative peut être envisagée pour la plupart des litiges qui n’ont pas encore donné lieu à la saisine de la justice, ainsi qu’en matière prud’homale.

        Toutefois, les différends concernant les droits dits indisponibles ou extrapatrimoniaux, c’est-à-dire, les droits qui ne peuvent être cédés (filiation, délégation de l’autorité parentale…) sont exclus hormis le divorce et la séparation de corps.</p>
    
    <h2 style="color: green;font-weight: bold;">La procédure participative de mise en état</h2>
    <p>La procédure participative peut également vous être proposée par votre avocat aux fins de mise en état de l’affaire. La mise en état est la phase de la procédure qui a pour objet de mettre le dossier en état d’être jugé. Les parties échanges leurs pièces et leurs arguments par l’intermédiaire de leurs avocats. 

        La procédure participative de mise en état est possible devant toutes les juridictions de l’ordre judiciaire, quelle que soit la procédure suivie, à tout moment de l’instance.</p>
    <br/>
    <ul>
        <li>
            <b>Si un accord est trouvé sur la mise en état et sur le fond, </b>
            <p>il est homologué par le juge.</p>
        </li>
        <li>
            <b>Si un accord est trouvé sur la mise en état et qu’il y a un accord partiel sur le fond,</b>
            <p>l’affaire sera jugée à bref délai sur la partie restant en désaccord.</p>
        </li>
        <li>
            <b>Si un accord est trouvé sur la mise en état et qu’il n’y a pas d’accord sur le fond,</b>
            <p> l’affaire sera jugée à bref délai en sa totalité.</p>
        </li>
        <li>
            <b>En cas d’échec de la mise en état conventionnelle,</b>
            <p>la procédure reprend son cours devant le juge de la mise en état.</p>
        </li>
    </ul>
    <br>
    <h2 style="color: green;font-weight: bold;">L’arbitrage</h2>
    <p>L'arbitrage permet de soumettre par une convention le règlement d'un différend (né ou susceptible de naître) à un tiers librement choisi que l'on investit de la mission de juger. Il se distingue des autres modes amiables de résolution des différends dans la mesure où le litige est tranché par un ou plusieurs arbitres qui rendent une sentence arbitrale s’imposant aux parties. Le recours à l’arbitrage peut être prévu par une clause compromissoire insérée dans les contrats conclus dans le cadre d’une activité professionnelle. </p>
    <br>
    <h2 style="color: green;font-weight: bold;">Quels sont les avantages de l’arbitrage ?</h2>
    <ul>
        <li>
            <b>Une procédure plus rapide</b>
            <p>car elle est enfermée dans des délais très stricts ;</p>
        </li>
        <li>
            <b>Une procédure confidentielle</b>
            <p>car les débats sont non publics. Les parties réduisent ainsi les risques de nuire à leur image et à leur réputation ;</p>
        </li>
        <li>
            <b>Une procédure souple</b>
            <p>car la suppression du formalisme procédural permet aux parties de choisir une procédure sans appel possible</p>
        </li>
        <li>
            <b>Des coûts maitrisés,</b>
            <p> les honoraires des arbitres sont connus en amont et souvent sans rapport avec les enjeux des litiges concernés par l’arbitrage.</p>
        </li>
    </ul>
    <br>
    <h2 style="color: green;font-weight: bold;">Quels sont les différends concernés ?</h2>
    <p>Même si toute personne physique ou morale, confrontée à un litige, peut recourir à l'arbitrage afin de faire trancher un différend, il concerne surtout la vie des affaires et les litiges où les montants en jeu sont importants.</p>
    <br>
    <h2 style="color: green;font-weight: bold;">Pourquoi faire appel à un avocat ?</h2>
    <p>L’avocat peut vous accompagner dans le choix de ce mode alternatif de règlement des litiges sous deux formes :</p>
    <ul>
        <li>
            <b>Comme conseil :</b>
            <p>les parties ont en effet la liberté d’être assistées et représentées par le ou les avocats de leur choix ;</p>
        </li>
        <li>
            <b>Comme arbitre :</b>
            <p>le choix du ou des arbitres revient d’un commun accord entre les parties. Le choix d’un arbitre avocat est un gage de compétence et d’indépendance.</p>
        </li>
    </ul>
    <br><br>
</div>
