<div class="image-header">
    <h1>
        Quel est le tribunal compétent ?
    </h1>
    <h4>
        Des juridictions spécialisées en fonction de la nature de l’affaire
    </h4>
</div>
<div class="container" style="padding-left: 150px;padding-right: 150px">
    <br><br>
    <p>Les juridictions ordinaires, couvrant le territoire national, sont divisées en deux ordres. L’ordre judiciaire, regroupe les juridictions civiles, commerciales, pénales et sociale, qui sont compétentes pour régler les litiges survenus entre les personnes privées, c’est-à-dire les particuliers et les entreprises. L’ordre administratif, est principalement compétent pour régler les litiges qui mettent en cause une personne publique, c’est-à-dire l’administration (les collectivités locales, les services publics, l’Etat…). En fonction de la nature de votre contentieux vous relèverez de l’un ou de l’autre de ces ordres.</p>
    <br>
    <h2 style="color: green;font-weight: bold;">L’ordre judiciaire</h2>
    <p>L'Ordre judiciaire est divisé en quatre grandes catégories : les juridictions civiles, sociales, commerciales et pénales.

        Par ailleurs, l'organisation judiciaire est fondée sur le principe du double degré de juridiction qui permet de rejuger l'affaire une seconde fois en cas de contestation.</p>
    <p>En France, il existe 37 cours d’appel. Il peut y avoir une cour d’appel pour un ou plusieurs départements. Dans le ressort d’une cour d’appel, sont implantés un ou plusieurs tribunaux judiciaires. Enfin, dans le ressort d’un tribunal judiciaire, il peut y avoir un ou plusieurs tribunaux de proximité.</p>
    <br>
    <h2 style="color: green;font-weight: bold;">Les juridictions civiles de 1er degré</h2>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL JUDICIAIRE ET DE PROXIMITÉ</h4>
    <ol>
        <li>
            <b>Compétence d’attribution :</b>
            <p>Le tribunal judiciaire est né de la fusion entre l’ancien tribunal de grande instance (TGI) et l’ancien tribunal d’instance (TI). C’est la juridiction civile de droit commun qui traite des affaires familiales, des affaires de succession et, de manière générale, de toutes les affaires qui ne sont pas de la compétence d’un autre tribunal. Il n’existe plus de condition de valeur minimale du litige.</p>
        </li>
        <li>
            <b>Compétence territoriale :</b>
            <p>en principe, la juridiction territorialement compétente est celle du lieu où demeure le défendeur. Mais il existe plusieurs exceptions à cette règle. Par exemple, lorsque le litige concerne un bien immobilier, c’est la juridiction du lieu où est situé l’immeuble qui est compétente. Autre exemple, en matière contractuelle, c’est la juridiction du lieu de livraison de la chose ou du lieu de l’exécution de la prestation de service qui peut être compétente.</p>
        </li>   
    </ol>
    <br>
    <p>La représentation par avocat : En principe, les justiciables doivent se faire représenter par un avocat devant le tribunal judiciaire. Afin d’éviter toute erreur qui conduirait à une irrecevabilité de la demande, à une perte de temps et à des dépenses supplémentaires, il est conseillé aux justiciables de prendre conseil auprès d’un avocat. Pour en savoir plus sur la représentation par avocat devant les tribunaux, vous pouvez aller sur la page « Que faire en cas de convocation devant la justice » qui traite de ce sujet. Si vos revenus ne vous permettent pas de payer un avocat, vous pouvez demander à bénéficier de l'Aide juridictionnelle.</p>
    <br>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL DE PROXIMITÉ</h4>
    <p>En plus des tribunaux judiciaires, des chambres de proximité appelées tribunaux de proximité ont été créées en dehors du siège du tribunal judiciaire. En d’autres termes, lorsqu’auparavant un TI et TGI étaient situés dans la même ville, aujourd’hui, un seul tribunal judiciaire est créé à leur place. Lorsque que le TI était situé dans une autre ville que celle du TGI, un tribunal de proximité prend la place du TI dans cette autre ville.</p>
    <br>
    <h2 style="color: green;font-weight: bold;">La juridiction sociale de 1er degré</h2>
    <h4 style="color: orange;font-weight: bold;">LE CONSEIL DE PRUD’HOMMES (CPH)</h4>
    <p>Il existe au moins un conseil de prud’hommes dans le ressort de chaque tribunal judiciaire.

        > Compétence d’attribution : Le conseil des prud’hommes est compétent pour connaître des litiges de manière générale, des litiges nés à l’occasion de tout contrat de travail entre les employeurs et les salariés. Sa compétence particulière est régie par le Code du travail.
        
        > Compétence territoriale : un choix est donné au justiciable qui souhaite saisir le conseil de prud’hommes. Il peut soit saisir le CPH situé dans le ressort duquel est situé l’établissement où est accompli le travail, soit celui du ressort duquel est situé le domicile du salarié lorsque le travail est accompli à domicile ou en dehors de l’entreprise. Il est donné un choix supplémentaire au salarié qui peut également saisir le CPH du lieu où l’engagement a été contracté ou celui du lieu où l’employeur est établi.
        
        Représentation par avocat : La représentation par avocat n’est pas obligatoire devant le conseil de prud’hommes. Afin d’éviter toute erreur qui conduirait à une irrecevabilité de la demande, à une perte de temps et à des dépenses supplémentaires, il est conseillé aux justiciables de prendre conseil auprès d’un avocat. Pour en savoir plus sur la représentation par avocat devant les tribunaux, vous pouvez aller sur la page « Que faire en cas de convocation devant la justice » qui traite de ce sujet. Si vos revenus ne vous permettent pas de payer un avocat, vous pouvez demander à bénéficier de l'Aide juridictionnelle.</p>
    <h2 style="color: green;font-weight: bold;">La juridiction commerciales de 1er degré</h2>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL DE COMMERCE (TC)</h4>
    <p>> Compétence d’attribution : Le tribunal de commerce a différentes compétences. Il connaît notamment des litiges nés entre commerçants, établissements de crédits, sociétés de financement et les particuliers ou entre eux, des contestations relatives aux actes de commerce et de celles relatives aux sociétés commerciales.

        > Compétence territoriale : en principe, la juridiction territorialement compétente est celle du lieu où demeure le défendeur. Il y a plusieurs exceptions à cette règle. Par exemple, lorsque le litige concerne un bien immobilier, c’est la juridiction du lieu où est situé l’immeuble qui est compétente. Autre exemple, en matière contractuelle, c’est la juridiction du lieu de livraison de la chose ou du lieu de l’exécution de la prestation de service qui peut être compétente. La compétence du tribunal de commerce peut également être prévue par une clause du contrat, c’est ce qu’on appelle la clause attributive de compétence, valable uniquement entre les commerçants.</p>
    <h2 style="color: green;font-weight: bold;">Les juridictions pénales de 1er degré</h2>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL DE POLICE</h4>
    <p>Le tribunal de police est compétent pour toutes les contraventions.

        Une contravention est une infraction que la loi punit d’une amende n’excédant pas 3 000 €.
        
        > Compétence territoriale :
        Le tribunal de police compétent est celui :
        
        du lieu de commission ou constatation de la contravention,
        du lieu de la résidence du prévenu,
        du lieu du siège de l’entreprise détentrice du véhicule si une infraction aux règles relatives aux transports terrestres ou au chargement ou à l’équipement de ce véhicule est commise,
        du lieu de port de débarquement de la personne mise en cause, du port d’immatriculation du navire, du port où le navire a été conduit ou peut être trouvé ou de la résidence administrative de l'agent qui a constaté l'infraction, si la contravention a été commise à bord d'un navire.</p>
    <br>
    <h4 style="color: orange;font-weight: bold;">LE TRIBUNAL CORRECTIONNEL</h4>
    <p>> Compétence territoriale :
        Le tribunal correctionnel compétent est celui :
        
        du lieu de l'infraction,
        de lieu de la résidence du prévenu,
        ou celui du lieu d'arrestation ou de détention de ce dernier,
        du domicile ou de la résidence de la personne qui doit recevoir la pension, la contribution, les subsides si l’infraction constitue un délit d’abandon de famille,
        du lieu de résidence ou du siège des personnes physiques ou morales lésée se situant en France si l’infraction est commise au moyen d’un réseau de communication électronique.</p>
            
   
    <br><br>
</div>
