.modal.fade .modal-dialog {
  border-radius: 30px;
}

.btn-outline-success {
  border: 2px solid #1c6822 !important;
  background-color: transparent !important;
  color: #1c6822 !important;
  font-weight: bold;
}

