<div class="image-header">
    <h1>
        Que faire en cas de convocation devant la justice ?
    </h1>
    <h4>
        Connaître vos droits pour mieux vous défendre
    </h4>
</div>

<div class="container" style="padding-left: 150px;padding-right: 150px">
    <br><br>
    <p>Si vous êtes attaqué en justice et que vous avez reçu une convocation pour vous présenter à une audience, il est important de vous renseigner sur vos droits et de vous faire conseiller.

        Même si pour certaines affaires, un avocat n’est pas obligatoire, il est le seul professionnel à pouvoir vous assister et vous représenter devant toutes les juridictions, quel que soit le litige.</p>
    <h2 style="color: green;font-weight: bold;">Dans quels cas, dois-je être représenté devant la justice ?</h2>
    <p>La représentation signifie que votre avocat a le pouvoir d’accomplir des actes en votre nom. Vous pouvez être présent ou absent de l’audience.

        En principe vous devrez obligatoirement vous faire représenter par un avocat auprès du tribunal judiciaire. Dans certaines matières, la représentation n’est pas obligatoire, même si elle est possible et recommandée (litige dont le montant est inférieur à 10 000€, …)
        
        La représentation est obligatoire devant la cour d’appel, devant la cour d’assises et devant le tribunal correctionnel lorsque la peine encourue est supérieure à deux ans. Elle l’est également devant le tribunal administratif lorsque le litige porte sur une somme d’argent.</p>
    <br>
    <h2 style="color: green;font-weight: bold;">Dans quels cas, puis-je être assisté devant la justice ?</h2> 
    <p>Quel que soit votre cas, vous êtes en droit de vous faire assister devant tous les tribunaux. En amont ou pendant la procédure judiciaire, votre avocat vous informera sur vos droits, les risques encourus et vous conseillera sur la meilleure stratégie pour votre défense. Ses qualifications, sa déontologie stricte, son indépendance et son assurance couvrant sa responsabilité professionnelle vous garantissent son sérieux et sa compétence.

        Si vous avez des revenus limités, vous pouvez bénéficier, si vous remplissez les conditions posées par la loi, de l’aide juridictionnelle couvrant tout ou partie des frais de justice et des honoraires de votre avocat.
        
    </p>
    <br>
    <p>Il existe également des permanences juridiques gratuites dans les mairies, les maisons de l’avocat, les maisons de la justice et du droit ainsi que certains tribunaux, sans condition de ressources, qui vous permettent de faire le point sur votre affaire en rencontrant un professionnel.</p>
    <br><br>
</div>
